---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | BiOzi',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About BiOzi</h1>
			<p>
			 We provide bioinformatics and biostatistics solutions for the life sciences 
       community. Our mission is to help researchers and organisations harness the 
       power of data to advance our understanding of the biological world.
       
      <p>With a team of highly skilled bioinformaticians and biostatisticians, 
    we offer a range of services designed to support the research process 
    from start to finish. Our services include data analysis, data management, 
    and statistical consulting, as well as custom software development and data 
    visualisation.</p>

			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/about.jpg"
        alt="BiOzi About"
        id="home-hero-image4"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>

  <p>
    Our expertise means that we are uniquely equipped to help our clients make sense of 
    complex biological data, and to extract meaningful insights that can inform their 
    research. We work closely with each client to understand their specific needs, and 
    to tailor our solutions to meet those needs.
  </p>

    <p>
     Whether you are a researcher looking to analyse your data, a biotech company seeking to 
     improve your data management processes, or an academic institution looking to build a 
     custom bioinformatics platform, BiOzi has the expertise to help you achieve your goals.
    </p>
    
    <p>
      We are dedicated to advancing the field of bioinformatics and biostatistics, and to staying
       at the forefront of technological innovations. Our team is constantly expanding their knowledge,
      and exploring new methods and tools to help our clients achieve their objectives. 
      Contact us today to learn more about how we can help you achieve your goals.
    </p>
  </TextSection>
</Layout>
