---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal Page | Astro Odyssey Theme`,
  description: `This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions, Privacy Policy, etc.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
  <h1>Join Our Team</h1>
  <p> 
    BiOzi is always looking for talented and motivated individuals to join our team. 
    We offer dynamic and remote working, and the opportunity to make a real impact 
    in the life sciences community.
  </p>

  <p>
  <h4>We are currently seeking applicants for the following positions:</h4>
  <ul>
    <li>Bioinformatics Analyst</li>
    <li>Biostatistician</li>
    <li>Data Scientist</li>
    <li>Software Developer</li>
    <li>Project Manager</li>
  </ul>

  If you have a passion for bioinformatics and biostatistics,
  BiOzi may be the right fit for you.
  
  </p>

<p>
  <h4>Why Work at BiOzi</h4>
Make a difference: Our work makes a real difference to the life sciences 
community, and our understanding of the biological world.
<ul>
  <li>Dynamic work environment: We work with a wide range of clients, from academic researchers 
    to biotech companies, and no two projects are the same.</li>
  <li>Supportive team: Our team is made up of highly skilled individuals that 
    believe in supporting each other to achieve our goals.</li>
 <li>Opportunities for growth: We are constantly expanding our services and exploring new technologies,
   and there is always room for our team members to grow and develop their skills.</li>
</ul>
</p>



<p>
<h4>Qualifications</h4>
We are looking for applicants who have:
<ul>
  <li>A degree in bioinformatics, biostatistics, computer science, or a related field</li>
  <li>Strong analytical skills and experience with data analysis and data management</li>
  <li>A passion for learning and staying at the forefront of technological innovations</li>
  <li>Excellent communication and interpersonal skills</li>
  <li>The ability to work independently and as part of a team</li>
</ul>

<h4>Internship Opportunities</h4>
<p>
We also offer internship opportunities for students who are 
interested in pursuing a career in bioinformatics and biostatistics. 
Our internships provide hands-on experience in a real-world setting, 
and the opportunity to work on exciting projects alongside our talented team.
</p>

If you are interested in working for us, please complete our contact form and 
a member of our team will be in touch shortly.
<p>We look forward to hearing from you!</p>
 
</p>

 </TextSection>
</Layout>