---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
  StickyTextImageSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Biostatistics | Our Biostatistics services',
	description: 'Biostatistics | Our Biostatistics services',
};
---

<AnnouncementBar text="Read Our Latest Biostatistics Blog Post" href="/blog/posts/multimodal-AI-prognosis/" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Utilise appropriate design and analysis.</h1>

		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>Request a Consultation<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/services/biostatistics.jpg"
				alt="Biostatistics"
				id="home-hero-image2"
			/>
		</picture>

	</TextAndImageHero>

  <StickyTextImageSection>
    <div slot="text-container">
      We offer a range of biostatistical and data science capabilities. Our experts work with
       you at every stage of the research process to design studies, conduct analyses and interpret results. 
      
       <p><h4>Examples :</h4></p>
        <ul style="list-style-type:none">
        <li>Clinical trial design and analysis</li>
        <li>Observational study design and analysis</li>
        <li>Laboratory experimental design and analysis</li>
        <li>Modelling and simulation studies</li>
        </ul>
    </div>

  </StickyTextImageSection>
</Layout>