---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Bioinformatics | Our bioinformatics services',
	description: 'Bioinformatics | Our bioinformatics services',
};
---

<AnnouncementBar text="Read Our Latest Bioinformatics Blog Post" href="/blog/posts/rna-seq/" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Advanced data analysis for life science research</h1>
			<p>Unlock the power of your data with our bioinformatics services.</p>
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>Request a Consultation<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/services/bioinformatics.jpg"
				alt="Bioinformatics"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="The tools and techniques used were cutting-edge and allowed me to analyze and interpret my data in a way that was not previously possible. The final results exceeded my expectations."
		customerName="Prof. JB"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Transcriptomics</h2>
			<p>
				We offer comprehensive transcriptomics analysis services to help you understand 
				gene expression and regulation at the molecular level. You can gain a 
				comprehensive view of the genes and pathways that are active in a 
				cell (single cell RNA-Seq) or tissue (bulk RNA-Seq).
			</p>
		</div>
		<Button href="/services/transcriptomics" slot="column-1-cta" outlined>Learn More</Button>
		
		<div slot="column-2-body">
			<h2>Genomics</h2>
			<p>
				We offer whole genome sequencing (WGS) and whole exome sequencing (WES) analysis services
				to support your genetics research. You can gain a comprehensive view of genetic variations
				relevant to a particular phenotype, with direct applications in research and clinical settings. 
			</p>
		</div>
		<Button href="/services/genomics" slot="column-2-cta" outlined>Learn More</Button>

		<div slot="column-3-body">
			<h2>Epigenomics</h2>
			<p>
				We offer a range of analysis services to help you map and characterise epigenomic 
				modifications, providing insights into how they contribute to biological processes, development, 
				and disease. We cover all aspect of DNA methylation, histone modification, 
				and chromatin accessibility.
			</p>
		</div>
		<Button href="/services/epigenomics" slot="column-3-cta" outlined>Learn More</Button>
	</ThreeColumnTextSection>

</Layout>

