---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Machine learning | Our Machine learning services',
	description: 'Machine learning | Our Machine learning services',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Cost effective development of predictive models</h1>
      <p>Go beyound basic statistical analysis of your biological dataset</p>

		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>Request a Consultation<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/services/machine.jpg"
				alt="Machine-Learning"
				id="home-hero-image3"
			/>
		</picture>

	</TextAndImageHero>

  <StickyTextImageSection>
    <div slot="text-container">
      We offer a range of machine learning services to help you 
      make robust predictions from you biological data.

       <p><h4>Our experts work with to :</h4></p>
        <ul style="list-style-type:none">
        <li>Pre-process your data and engineer new variables</li>
        <li>Create out-of-the box predictive models</li>
        <li>Train, fine-tune and validate models</li>
        <li>Deploy models on select cloud services</li>
        </ul>

      <p><h4> Histopatholgy </h4></p>
      We have specific expertiese in training deep neural networks to automatically classify 
      images or extract features from digital pathology slides, MRI scans, 
      microscopy and other image soruces. 

      <p> <h4> Biomarkers </h4></p>
      We can build multimodal models to help you integrate different soruces of biomarkers, 
      deriving more meaningful models of disease development and progression. 
       
    </div>

  </StickyTextImageSection>
</Layout>