---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Software creation | Our Machine learning services',
	description: 'Software creation | Our Machine learning services',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Consequential software for the modern Biotechnology</h1>
      <p>Advanced automation and workflow systems.</p>
    
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>Request a Consultation<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/services/software.jpg"
				alt="Software-Creation"
				id="home-hero-image4"
			/>
		</picture>

	</TextAndImageHero>

  <StickyTextImageSection>
    <div slot="text-container">
      We build robust tools for data analytics and data-driven decision making.
      Our experts will help you implement bespoke software tools to deliver 
      critical services.

      <p><h4> We implement tools in a wide range of lanaguages including  :</h4></p>
      <ul style="list-style-type:none">
      <li>C/C++/Java</li>
      <li>Python/R</li>
      <li>CSS, HTML, and JavaScript</li>
      <li>Databases</li>
      </ul>
       
    </div>

  </StickyTextImageSection>
</Layout>