---
import {Icon} from 'astro-icon';
import { Button, Container, CtaCardSection,
  AnnouncementBar, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Get Started using the Astro Odyssey Theme',
	description: 'Get started on how to setup and use this Astro theme.',
};
---

<AnnouncementBar text="Promotion: Free analysis of publicly available datasets (x1)." href="/company/contact" slot="announcement-bar"/>

<Layout {seo}>
	<Container>
		<TextCardSection>
      <h4>We offer short-term, long-term, collaborative 
        and grant development activities. </h4>
        <p>Learn more .... </p>

			<div class="cta-buttons__container">
        <Button
        href="/theme/short-term"
        outlined
        newTab
        customIcon
        >
        Short-Term Support
        <Fragment slot="icon">
          <Icon name="ic:baseline-launch" />
        </Fragment>
      </Button>

        <Button
					href="/theme/collaborative"
          newTab
          customIcon
					>
          Collaborative Support
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
        
        <p> 
        We advise that you include bioinformatics and biostatistics expertise as early as 
        possible in the project timeline. This approach ensures that the intended design 
        matches your research questions. 
        However, we will always help you find a solution regardless of your current progress.
      </p>

			</div>
		</TextCardSection>
	</Container>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Start Your Discovery Journey Today</h2>
    <Button href="/services/step" customIcon>Our Process<Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
